body{
    width: fit-content;
    height: fit-content;
    overflow-x: hidden;
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 280px;
    margin: 0px;
}

div{
    margin: 0px;
    width: 270px;
    height: 40px;
    background-color: darkred;
    text-align: center;
    padding-top: 1.3em;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div:hover{
    background-color: red;
}